NEXTAUTH_URL=http://workhub_link.la
SECRET_KEY=9WYzM3pZsB7gx2aGXRdQ7RnkK9s7CTA6jUJdjtxbRqEzX8PNtZ5fE5tU2pXTp4xJ
API_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_NEXTAUTH_URL=http://workhub_link.la
